@charset "utf-8";

#header{}
#header>div.header_line{border-bottom: 1px solid #000;}
#header>div.header_line>nav.header_top{width: 980px; background-color: pink; margin: 0 auto;}
#header>div.header_line>nav.header_top>ul{background-color: red; float: right; height: 30px;}
#header>div.header_line>nav.header_top>ul>li{float: left;}

#header>div.header_mid{width: 980px; margin: 0 auto; padding: 10px 0; background-color: #ff0; position: relative;}
#header>div.header_mid>h1{width: 200px; margin: 0 auto; background-color: pink; text-align: center;}
#header>div.header_mid>img{display: block; position: absolute; right: 0; top: 5px;}

#header>div.header_foot{background-color: #1c5da3; height: 45px;}
#header>div.header_foot>ul{width: 980px; margin: 0 auto;}
#header>div.header_foot>ul>li{
	float: left; color:#fff; width: 163.33px; text-align: center; line-height: 45px;
	border-right: 1px solid #336eac;}
#header>div.header_foot>ul>li:first-child{border-left: 1px solid #336eac;}

#visual{background: #223d6b url(images/visual_bg01.jpg) center no-repeat;}
#visual>div.visual_main{position: relative;
	width: 980px; height: 400px; margin: 0 auto; _background-color: pink; padding: 50px;}
#visual>div.visual_main img:first-child{position: absolute; right: 0;}
#visual>div.visual_main img:last-child{position: absolute; left: 0; top:80px;}

#container{background-color: pink;}
#container>div.container_main{}
#container>div.container_main>ul{}
#container>div.container_main>ul>li{}
#container>div.container_main>ul>li>div.icon{}
#container>div.container_main>ul>li>div.icontext{}