@charset "utf-8";
body{font-family: 'Noto Sans KR', sans-serif;}
#header{}
#header div.topWrap{
background-image: url(../images/headerbg01.jpg);
background-repeat: no-repeat;
background-position:center;
background-size: cover;
height: 90px;
_position: relative;
}
/*header 시작*/
#header div.top{
	position: relative;
	width: 980px;
	height: 90px;
	margin: 0 auto;
}
#header div.top>h1{
	width: 150px;
	text-align: center;
	line-height: 90px;
	color:#fff;
}
#header div.top>div.search{
	width: 290px;
	height: 30px;
	background-color: #fff;
	border-radius: 40px;
	padding: 5px 20px;
	position: absolute; 
	top: 50%; margin-top: -15px;
	right: 50%; margin-right: -15px;
}
#header div.top>div.search>ul li{
	float: left;
}
#header div.top div.search ul li:first-child{
	margin-right: 10px;
}
#header div.top div.search p{
	font-size: 13px;
	color: #6d7275;
	margin-right: 30px;
}
.number{
	position: absolute;
	top: 22px;
    right: 166px;
	color:#fff;
	font-size: 30px;
	font-weight: bold;
}
.snsicon{
	position: absolute;
	top: 33px; right: 0;
}
.snsicon ul li{
	float: left;
	margin-right: 5px;
}
.nav{
	background-color: #fbfbfb;
	border-bottom: 6px solid #0e73a7;
}
.nav .gnb{
	width: 980px;
	margin: 0 auto;
	position: relative;
}
.nav .gnb ul>li{
	width: 163.33px;
	line-height: 60px;
	text-align: center;
	float: left;
	border-right: 1px solid #e5e5e5;
}
.nav .gnb ul>li:first-child{
	border-left: 1px solid #e5e5e5;
}
.nav .gnb ul>li>img{
	position: absolute; top: 30%; right: 360px;
}
/*header끝*/
/*section시작*/
#section_wrap{
	width: 980px; margin: 0px auto; _height: 1200px;
	_background-color: #f00; padding-top: 56px;
}
.section_bg{
	_height: 1200px;
	background-image: url(../images/bg01.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
.section_bg .balloon_wrap{
	position: absolute;
	top: 200px; right: 300px;
	animation-name:myani;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
}
@keyframes myani{
			from{top: 200px; }
			to{top: 230px;}
		}
.section_bg>.text_wrap{
	position: absolute;
	top: 100px; right: 25%;
	width: 370px;
	color:#152630;
}
.section_bg>.text_wrap h2{
	font-size: 70px;
	padding: 15px 0;
	font-weight: bold;
}
.section_bg>.text_wrap h2:after{
	content:"";
	display: block;
	float: right;
	width: 100px; height: 5px;
	background-color: #152630;
}
.section_bg>.text_wrap p{
	font-size: 30px
}
#section_wrap .section_wrap_top{
	width: 100%; height: 556px;
}
#section_wrap .section_wrap_top>div{float: left;}
#section_wrap .section_wrap_top .top_wrap01{
	width: 482px; height: 100%;
	margin-right: 16px;
}
#section_wrap .container_wrap01{
	width: 100%; height: 300px; background-color: #fff;
	margin-bottom: 16px;
}
#section_wrap .container_wrap01>.pagerWrap{
	width: 132px; float: left;
}
#section_wrap .container_wrap01>.pagerWrap>div.pager{}
#section_wrap .container_wrap01>.pagerWrap>div.pager>a{
	width: 132px;
	height: 75px;
	background-color: #0099cb;
	border-bottom: 1px solid #0087bf;
	_line-height: 75px; color:#fff;
	padding-top: 25px;
	padding-left: 10px;
	display: block;

}
#section_wrap .container_wrap01>.pagerWrap>div.pager>a.active{
	background-color: #fff;
	color:#000;
}

#section_wrap .container_wrap01>.pagerWrap>div.pager>a>div{
	width: 100px; height: 30px;
	position: relative;
}
#section_wrap .container_wrap01>.pagerWrap>div.pager>a>div>span{
	position: absolute; top: 0; right: 10px;
	line-height:30px;
}
#section_wrap .container_wrap01>.pagerWrap>div.pager>a>div>.icon{
	background-image: url(../images/pagerbg01.jpg);
	background-repeat:no-repeat;
	width: 30px; height: 30px;
	text-indent:-9999px;
}
#section_wrap .container_wrap01>.pagerWrap>div.pager>a>div>.icon.one{
	background-position: 0 0;
}
#section_wrap .container_wrap01>.pagerWrap>div.pager>a>div>.icon.two{
	background-position: 0 -30px;
}
#section_wrap .container_wrap01>.pagerWrap>div.pager>a>div>.icon.three{
	background-position: 0 -60px;
}
#section_wrap .container_wrap01>.pagerWrap>div.pager>a>div>.icon.four{
	background-position: 0 -90px;
}
#section_wrap .container_wrap01>.sliderWrap{
	width: 350px; float: right;
}
#section_wrap .sliderWrap>ul.slider{}
#section_wrap .sliderWrap>ul.slider>li{}
#section_wrap .sliderWrap>ul.slider>li>form>fieldset{
	border: 0 none;
}
#section_wrap .sliderWrap>ul.slider>li>form>fieldset>legend{
	display: block; right: 0; top: -9999px; position: absolute;
}






#section_wrap .container_wrap02{
	width: 100%; height: 240px; background-color: #fff;
}
#section_wrap .container_wrap02 ul{}
#section_wrap .container_wrap02 ul li{
	width: 233px;
	height: 240px;
	float: left;
	margin-right: 16px;
	position: relative;
}
#section_wrap .container_wrap02 ul li:last-child{margin-right: 0;}
#section_wrap .container_wrap02 ul li img{display: block;}
#section_wrap .container_wrap02 .text_wrap{
	width: 100%; height: 50px; background-color: #152630;
	position: absolute; bottom: 0; left: 0;
	padding: 10px 20px;
}
#section_wrap .container_wrap02 ul li>.text_wrap>p{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-right: 30px;
	color:#fff;
}
#section_wrap .container_wrap02 ul li>.text_wrap>p:last-child{
	color: #71c565;
	margin-right: 0;
}
#section_wrap .section_wrap_top .top_wrap02{
	width: 482px; height: 100%;
}
/*section_wrap_bottom*/
#section_wrap .section_wrap_bottom{
	margin-top: 16px;
}
#section_wrap .section_wrap_bottom >ul>li{
	float: left;
	margin-right: 16px;
	margin-bottom: 16px;
	width: 233px; height: 240px;
	position: relative;
}
#section_wrap .section_wrap_bottom>ul>li>.text_wrap{
	position: absolute;
	bottom: 0; left: 0;
	width: 233px; height: 65px;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	background-color:#152630;
	color:#fff;
}
#section_wrap .section_wrap_bottom>ul>li:nth-child(4){
	margin-right: 0;
}
/*bottom_5*/
#section_wrap .section_wrap_bottom>ul>li:nth-child(5){
	margin-bottom: 0; overflow:hidden;
}
#section_wrap .section_wrap_bottom>ul>li:nth-child(5)>.plus{
	position: absolute;
	top: 50%; margin-top: -15px;
	left: 50%; margin-left: -15px;
}
.section_wrap_bottom>ul>li:nth-child(5)>.bg{
	width: 233px; height: 240px;
	background-color: rgba(0,0,0,0.8);
	position: absolute; top: 240px;
	transition:.5s;
	opacity: 0;
}
.section_wrap_bottom>ul>li:nth-child(5)>.text{
	width: 233px; height: 120px;
	position: absolute; top: 0; left: 0;
	text-align: center;
	color:#fff;
	padding: 15px 0 10px 0;
	transition:.5s;
}
.section_wrap_bottom>ul>li:nth-child(5)>.text>ul{
	width: 135px; margin: 0 auto;
	padding-bottom: 5px;
}
.section_wrap_bottom>ul>li:nth-child(5)>.text>ul li{
	float: left;
	font-size: 20px;
	line-height: 40px;
}
.section_wrap_bottom>ul>li:nth-child(5)>.text>ul li:first-child{
	margin-right: 5px;
}
.section_wrap_bottom>ul>li:nth-child(5)>.text>p{
	font-size: 14px;
}
.section_wrap_bottom>ul>li:nth-child(5):hover .text{
	top: 120px; left: 0;
}
.section_wrap_bottom>ul>li:nth-child(5):hover .bg{
	top: 0; opacity: 1;
}

/*bottom_6*/
#section_wrap .section_wrap_bottom>ul>li:nth-child(6){
	margin-bottom: 0; overflow:hidden;
}
#section_wrap .section_wrap_bottom>ul>li:nth-child(6)>.plus{
	position: absolute;
	top: 50%; margin-top: -15px;
	left: 50%; margin-left: -15px;
}
.section_wrap_bottom>ul>li:nth-child(6)>.bg{
	width: 233px; height: 240px;
	background-color: rgba(0,0,0,0.8);
	position: absolute; top: 240px;
	transition:.5s;
	opacity: 0;
}
.section_wrap_bottom>ul>li:nth-child(6)>.text{
	width: 233px; height: 120px;
	position: absolute; top: 0; left: 0;
	text-align: center;
	color:#fff;
	padding: 15px 0 10px 0;
	transition:.5s;
}
.section_wrap_bottom>ul>li:nth-child(6)>.text>ul{
	width: 135px; margin: 0 auto;
	padding-bottom: 5px;
}
.section_wrap_bottom>ul>li:nth-child(6)>.text>ul li{
	float: left;
	font-size: 20px;
	line-height: 40px;
}
.section_wrap_bottom>ul>li:nth-child(6)>.text>ul li:first-child{
	margin-right: 5px;
}
.section_wrap_bottom>ul>li:nth-child(6)>.text>p{
	font-size: 14px;
}
.section_wrap_bottom>ul>li:nth-child(6):hover .text{
	top: 120px; left: 0;
}
.section_wrap_bottom>ul>li:nth-child(6):hover .bg{
	top: 0; opacity: 1;
}
/*bottom_7*/
#section_wrap .section_wrap_bottom>ul>li:nth-child(7){
	margin-bottom: 0; overflow:hidden;
}
#section_wrap .section_wrap_bottom>ul>li:nth-child(7)>.plus{
	position: absolute;
	top: 50%; margin-top: -15px;
	left: 50%; margin-left: -15px;
}
.section_wrap_bottom>ul>li:nth-child(7)>.bg{
	width: 233px; height: 240px;
	background-color: rgba(0,0,0,0.8);
	position: absolute; top: 240px;
	transition:.5s;
	opacity: 0;
}
.section_wrap_bottom>ul>li:nth-child(7)>.text{
	width: 233px; height: 120px;
	position: absolute; top: 0; left: 0;
	text-align: center;
	color:#fff;
	padding: 15px 0 10px 0;
	transition:.5s;
}
.section_wrap_bottom>ul>li:nth-child(7)>.text>ul{
	width: 135px; margin: 0 auto;
	padding-bottom: 5px;
}
.section_wrap_bottom>ul>li:nth-child(7)>.text>ul li{
	float: left;
	font-size: 20px;
	line-height: 40px;
}
.section_wrap_bottom>ul>li:nth-child(7)>.text>ul li:first-child{
	margin-right: 5px;
}
.section_wrap_bottom>ul>li:nth-child(7)>.text>p{
	font-size: 14px;
}
.section_wrap_bottom>ul>li:nth-child(7):hover .text{
	top: 120px; left: 0;
}
.section_wrap_bottom>ul>li:nth-child(7):hover .bg{
	top: 0; opacity: 1;
}
/*bottom_8*/
#section_wrap .section_wrap_bottom>ul>li:nth-child(8){
	margin-right: 0; margin-bottom: 0; overflow:hidden;
}
#section_wrap .section_wrap_bottom>ul>li:nth-child(8)>.plus{
	position: absolute;
	top: 50%; margin-top: -15px;
	left: 50%; margin-left: -15px;
}
.section_wrap_bottom>ul>li:nth-child(8)>.bg{
	width: 233px; height: 240px;
	background-color: rgba(0,0,0,0.8);
	position: absolute; top: 240px;
	transition:.5s;
	opacity: 0;
}
.section_wrap_bottom>ul>li:nth-child(8)>.text{
	width: 233px; height: 120px;
	position: absolute; top: 0; left: 0;
	text-align: center;
	color:#fff;
	padding: 15px 0 10px 0;
	transition:.5s;
}
.section_wrap_bottom>ul>li:nth-child(8)>.text>ul{
	width: 135px; margin: 0 auto;
	padding-bottom: 5px;
}
.section_wrap_bottom>ul>li:nth-child(8)>.text>ul li{
	float: left;
	font-size: 20px;
	line-height: 40px;
}
.section_wrap_bottom>ul>li:nth-child(8)>.text>ul li:first-child{
	margin-right: 5px;
}
.section_wrap_bottom>ul>li:nth-child(8)>.text>p{
	font-size: 14px;
}
.section_wrap_bottom>ul>li:nth-child(8):hover .text{
	top: 120px; left: 0;
}
.section_wrap_bottom>ul>li:nth-child(8):hover .bg{
	top: 0; opacity: 1;
}
/*section끝*/

#footer{height: 113px;}
#footer .footerWrap{
	width: 980px; margin: 0 auto;
	padding: 20px 0;
}
#footer .footerWrap>ul{
	margin-bottom: 10px;
}
#footer .footerWrap>ul>li{
	float: left;
	padding-right: 25px;
	font-size: 14px
}
#footer .footerWrap>ul>li:nth-child(2){
	font-weight: bold;
}
#footer .footerWrap>p{
	font-size: 13px;
	color:#666;
}